body {
	background: rgba(66, 244, 220, 0.15);
	text-align: center;
}

.text-muted {
	font-size: 12px;
	text-decoration: underline;
}

.buttons {
	cursor: pointer;
}

.navbar {
	margin-bottom: 100px;
}

.nav-link {
	color: #f7f7f7 !important;
	font-weight: 200;
}

.container-fluid {
	width: 600px;
/*	margin-top: 100px;
*/}

.search-title {
	font-family: 'Pacifico', cursive;
	padding: 20px;
}

#search-bar {
	padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    height: 40px;
}

#search-bar:not(:focus) {
	font-style: italic;
	font-size: 12px;
}

#search-button {
	float: left;
    width: 10%;
    height: 40px;
    padding: 10px;
    background: pink;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

