body {
	background: rgba(66, 244, 220, 0.15);
	text-align: center;
	margin: 0 auto;
	font-size: 15px;
}

.row {
	width: 1000px;
}

.generic-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.text-muted {
	font-size: 12px;
	text-decoration: underline;
}

.buttons {
	cursor: pointer;
}

.navbar {
	margin-bottom: 70px;
	width: 100%;
}

.nav-link {
	color: #f7f7f7 !important;
	font-weight: 200;
}

.container-fluid {
	width: 600px;
}

.search-title {
	font-family: 'Pacifico', cursive;
	padding: 20px;
}

#search-bar {
	padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    height: 40px;
}

#search-bar:not(:focus) {
	font-style: italic;
	font-size: 12px;
}

#search-button {
	float: left;
    width: 10%;
    height: 40px;
    padding: 10px;
    background: pink;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.card {
	width: 302px;
	margin: 10px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card img {
	width: 300px;
	height: 222px;
	margin: 0 auto;
}

.form-div {
	margin: 0 auto;
}

.create-recipe {
	width: 800px;
}